@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border-collapse: collapse;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: #B91122;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #292019;
}

button:active {
    transform: translateY(2px);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    background-color:#fdf8f8;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    z-index: 2;
    box-shadow: 0 2px 8px -4px grey
}


header nav {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}

nav span {
    font-size: large;
    transition: 0.3s;
}

header span, header a, header i {
    cursor: pointer;
}

header div {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}   

header div div {
    width: 25px;
    margin: 0 10px;
    transition: 0.3s;
}

nav span:hover, header div div:hover {
    z-index: inherit;
    transform: translateY(-5px);
}


header div div a {
    padding-top: 3px;
}

main {
    padding-top: 50px;
    flex-grow: 1;
    background-color: #fdf8f8;
    padding-bottom: 50px;
}

main h1 {
    text-align: center; 
    padding: 32px 0px;
    font-size: xx-large;
    background-color: #806663;
}

footer {    
    height: 200px;
    width: 100%; 
    bottom: 0;
    background-color: #4b3c3a;
    display: flex;
    font-size: smaller;
    color: white;
}

.footer-info-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info-container{
    padding-left: 20%;
}

.footer-info-container:first-child {
    padding-left: 5%;
}

.footer-info-container div {
    padding-left: 48px;
    margin-top: 8px;
}

.footer-info-container div:first-child {
    padding-left: 32px;
}

footer a {
    text-decoration: underline;
}

footer i {
    margin-right: 4px;
}


.fa-trash-alt {
    transition: 0.3s;
}

.fa-trash-alt:hover {
    transform: translateY(-2px);
}

.fa-trash-alt:active {
    transform: translateY(2px);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: pointer;
}

#container-close {
    width: 100%;
    padding-top: 10px;
}

#close {
    margin-left: 90%;
}

#shop-it-logo {
    height: 40px;
    width: 32px;
}

.banner img {
    height: 100%;
    width: 100%;
}

/* HEADER */

#username {
    margin-left: 5px;
    visibility: hidden;
}

#pop-over {
    visibility: hidden;
    height: 80px;
    width: 100px;
    position: fixed;
    margin-top: 35px;
    margin-right: 10px;
    right: 0;
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fdf8f8;
    z-index: 4;
}

#pop-over div {
    height: 50%;
    padding-top: 8px;
}
 
#pop-over a{
    display: block;
}

#pop-over div:hover {
    cursor: pointer;
    color: white;
    background-color: #292019;
}

#icon-user, #icon-search, #icon-cart {
    height: 100%;
}

#logo-title {
    color: rgb(231, 78, 58);
    font-weight: bold;
}

/* BANNER */

.banner {
    height: 400px;
    background-color: gray;
}

/* SIGN IN/UP */

.container-sign {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #e6a29a;
    padding-bottom: 32px;
    z-index: 5;
}


.container-sign h1, .container-fields-signin, .container-fields-signup {
    width: 75%;
}

.container-sign h1 {
    text-align: left;
    font-size: 3rem;
}

.container-sign input {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid #f0edec;
    padding: 8px;
    transition: 0.3s;
}

.container-sign input:focus {
    transform: translateY(-4px);
}

.container-sign button {
    width: 50%;
    height: 32px;
    margin-top: 20px;
}

.container-sign-link {
    margin-top: 10px;
}

#btn-signin, #btn-signup {
    height: 50px;
    width: 100px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
}

#link-signin, #link-signup {
    cursor: pointer;
    border-bottom: 1px solid;
    
}

/* CATEGORY PRODUCTS */

.section-catproducts {
    margin: 0px 10%;
    background-color: #fdf8f8;
}

.container-category {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    background-color: #d7685c;
    border-radius: 25px;
    margin-top: 50px;
}

.container-category:first-child {
    margin-top: 16px;
}

.container-category div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-name {
    font-size: xx-large;
    margin-left: 32px;
    vertical-align: middle;
}

.btn-seeall {
    width: 100px;
    font-size: medium;
    margin-right: 32px;
    text-align: center;
    transition: 0.3s;
}

.btn-seeall i {
    margin-left: 8px;
}

.btn-seeall:hover {
    transform: translateY(-5px);
}

.container-products {
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    justify-content: space-around
}

.card-product {
    display: inline-flex;
    flex-direction: column;
    height: 50%;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 16px 8px;
    background-color: #f7ecdd;
    border-radius: 10px;
    transition: 0.3s;
}

.card-product:hover {
    transform: translateY(-10px);
}

.card-product img {
    height: 250px;
    width: 70%;
    margin: 0 auto;
}

.card-product .product-info {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.product-info .product-name {
    font-size: larger;
}

.product-info .product-stock {
    font-size: smaller;
    color: grey;
}

.card-product .cart-adding {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cart-adding div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-adding button {
    height: 50px;
    width: 120px;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
}

.fa-star {
    transition: 0.3s;
}

.fa-star:hover {
    transform: translateY(-4px);
}

/* CART */

.section-cart table, .section-cart .container-total, .section-cart .container-checkout  {
    width: 80%;
    margin: 0 auto;
}

.section-cart {
    padding-top: 50px;
}

.section-cart .container-total {
    display: flex;
    flex-direction: row-reverse;
}

.section-cart table thead {
    background-color: #d7685c;
    border: none;
}

.subtotal, .info-name {
    font-size: large;
}

.info-price {
    font-size: smaller;
}

.section-cart table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-cart td {
    text-align: center;
}

.section-cart .cart-row .col-info {
    text-align: left;
    height: 50px;
    width: 50%;
    padding-left: 20px;
}

.section-cart .cart-row .col-qty {
    width: 25%;
}

.section-cart .cart-row .col-qty input {
    height: 30px;
    width: 60px;
    text-align: center;
}

.col-qty span {
    margin-top: 5px;
    width: 60px;
    font-size: small;
}

.section-cart .cart-row .col-subtotal {
    width: 25%;
}

.section-cart .cart-row .col-content {
    margin-top: 30px;
}

.section-cart .col-info .item-card{
    display: flex;
}

.section-cart .col-info .item-card img {
    height: 75px;
    width: 75px;
}

.section-cart .col-info .item-card div{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.section-cart .col-info .item-card div span {
    margin-top: 5px;
}

.section-cart .container-total .cart-total-label {
    width: 10%;
}

.section-cart .container-total .cart-total-info, .section-cart .container-total .cart-total-label {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-cart .container-total {
    margin-top: 20px;
}

.section-cart .container-total .cart-total-info {
    border-top: 1px solid;
    width: 25%;
    font-size: xx-large;
}

.section-cart .container-total .cart-total-label {
    border-top: 1px solid;
    width: 15%;
    font-size: large;
}

.section-cart .container-total .cart-total-info div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section-cart .container-checkout div {
    width: 25%;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-checkout {
    height: 64px;
    width: 100%;
    font-size: larger;
    border-radius: 10px;
    transition: 0.3s;
}

.stock {
    color: grey;
}


/* WISHLIST */

.section-wishlist {
    padding-top: 50px;
}

.section-wishlist table {
    width: 80%;
    margin: 0 auto;
}

.section-wishlist table thead {
    background-color: #d7685c;
}

.section-wishlist table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-wishlist .col-info {
    height: 50px;
    width: 75%;
    padding-left: 20px;
}

.section-wishlist .col-addcart {
    width: 25%;
    text-align: center;
}

.col-addcart button {
    height: 50px;
    width: 120px;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
}

.section-wishlist .item-card {
    display: flex;
    margin-top: 30px;
}

.section-wishlist .item-card img {
    height: 75px;
    width: 75px;
}

.section-wishlist .item-card div {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 10px;
}

.section-wishlist .item-card div span {
    margin-top: 5px;
}

/* PRODUCTS */

.section-products {
    padding-left: 20%;
    padding-right: 20%;
}

.section-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-pagination {
}

.container-pagination span {
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 5px;
}

.select-page {
    border-radius: 10px;
}

#selected-page, .select-page:hover {
    color: white;
    background-color: #292019;
}

.current-page {
    border-bottom: 1px solid;
}

/* CHAT */

.toggle-msg {
    position: fixed;
    display: flex;
    bottom: 0;
}

.container-msg {
    width: 400px;
    height: 500px;
    display: inline-flex;
    border: 1px solid;
}

.msg-contacts {
    width: 100px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    overflow-y: scroll;
}

.msg-chatbox {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.contact-user {
    text-align: center;
    margin-top: 2px;
    border: 1px solid;
}

.heading {
    border-bottom: 1px solid;
    font-size: large;
    padding: 5px;
}

.chatbox {
    flex-grow: 1;
    padding: 0px 5px;
    overflow-y: scroll;
}

.chat-receive, .chat-send {
    width: 50%;
    border: 1px solid;
}

.chat-receive {
    float: left;
    margin-left: 50%;
}

.chat-send {
    float: right;
    margin-right: 50%;
}

#search-container {
    width: 100%;
    position: fixed;
    display: none;
    margin-top: 50px;
    z-index: 4;
}

#search-title {
    font-size: large;
}

#search-bar {
    height: 40px;
    width: 40%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}

#search-input {
    height: 100%;
    width: 100%;
    padding: 0 5px;
    font-size: larger;
}

#search-results {
    display: flex;
    flex-direction: column;
}

.search-result {
    height: 32px;
    background-color: #e5dfdf;
}

.search-result:last-child {
    padding-bottom: 5px;
}

.search-result a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 8px 16px;
}

.search-result:hover {
    color: white;
    background-color: #9b8481;
}

#page-home h1 {
    
}

/* CAPTCHA */
.capbox {
	background-color: #BBBBBB;
	background-image: linear-gradient(#BBBBBB, #9E9E9E);
	border: #d7685c 0px solid;
	border-width: 2px 2px 2px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
	border-radius: 4px 4px 4px 4px;
    margin-top: 15px;
	}

.capbox-inner {
	color: #000000;
	background-color: #E3E3E3;
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
    font-size: smaller;
}

#CaptchaDiv {
	color: #000000;
	font: normal 25px Impact, Charcoal, arial, sans-serif;
	font-style: italic;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}

#CaptchaInput {
	border: #d7685c 2px solid;
	margin: 3px 0px 1px 0px;
	width: 105px;
	}
